.about{
    position: absolute;
    height:100vh;
    top:0;
    left:0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(206, 206, 206);
}
.about img{
    width: 40rem;
    height:30rem;
}
.about-text{
    margin-left: 2rem;
    width: 40rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 3rem;
}