<div class="container-fluid contact">
    <div class="contact-text border border-light rounded-lg">
        <h2 class="font-weight-light">If you want to hire me feel free to contact!</h2>
        <div class="one-line">
            <h2 class="font-weight-light">My email address is </h2>
            <h2 class="font-weight-light" id="mail" class="font-weight-light">mateusz.figon97@gmail.com</h2>
        </div>
        <h2 class="font-weight-light">I will respond as soon as possible</h2>
        <div class="email-picture">
            <img alt="" src="assets/images/email.png">
        </div>
    </div>
</div>