<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<!-- Toolbar -->
<div *ngIf="!loading" class="container-fluid bg">
  <nav class="navbar navbar-expand-lg navbar-dark nav-row">
    <a class="nav-link gray" [class.active]="currentUrl==='/'" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="currentUrl==='/about'">
          <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [class.active]="currentUrl.includes('project')"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item gray" routerLink="/projects/react">React</a>
            <a class="dropdown-item gray" routerLink="/projects/react-native">React Native</a>
            <a class="dropdown-item gray" routerLink="/projects/angular">Angular</a>
            <a class="dropdown-item gray" routerLink="/projects/angular-js">Angular JS</a>
            <a class="dropdown-item gray" routerLink="/projects/vue">Vue</a>
            <a class="dropdown-item gray" routerLink="/projects/jquerry">jQuerry</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item gray" routerLink="/projects/all">All projects</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="currentUrl==='/contact'" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/m-figon/"><img src="assets/images/github-logo.png"></a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/mateusz-figo%C5%84/"><img src="assets/images/linkedin-logo.png"></a>
        </li>
        <li class="nav-item">
          <a href="https://drive.google.com/open?id=1IjOpfUKuKWuPkzt0AXClr1Ivmn4fe7as"><img src="assets/images/cv.svg"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div *ngIf="loading" class="container-fluid loading">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>