.bg{
    height: 100vh;
    background: url('./background.jpg');
    background-size: 100% 100%;
}
.nav-row{
    position: relative;
    display: flex;
    color: rgb(206, 206, 206);
    height: 5rem;
    z-index: 3;
    justify-content: flex-start;
    align-items: center;
}
.right{
    display: flex;
}
.right h2{
    margin: 0 1rem;
    color: rgb(206, 206, 206);
}
.right img{
    margin: 0 1rem;
    height: 3rem;
    width: 3rem;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
a:hover{
    text-decoration: none;
}
.loading{
    position: absolute;
    height:100vh;
    top:0;
    left:0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 206, 206);
}