.bg{
    height: 100vh;
    background: url('./background.jpg');
    background-size: 100% 100%;
}
.nav-row{
    z-index: 3;
}
.right{
    display: flex;
}
.right h2{
    margin: 0 1rem;
    color: rgb(206, 206, 206);
}
.right img{
    margin: 0 1rem;
    height: 3rem;
    width: 3rem;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}
a:hover{
    text-decoration: none;
}
.loading{
    position: absolute;
    height:100vh;
    top:0;
    left:0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9,72,116);
    background: linear-gradient(90deg, rgba(9,72,116,1) 0%, rgba(48,52,55,1) 100%, rgba(0,64,103,1) 100%);
}
.dark{
    background-color: rgba(0, 0, 0, 0.5);
}
.gray{
    color: rgba(255,255,255,.5);
}
.gray:hover{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.dark:hover{
    color: rgb(189, 189, 189);
}
.navbar a{
    font-size: 1.5rem;
}
a img{
    width:3rem;
    height: 3rem;
    margin: 0 1rem;
    -webkit-filter: invert(70%); /* Safari/Chrome */
    filter: invert(70%);
}
a img:hover{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%); 
}