.home{
    position: absolute;
    height:100vh;
    top:0;
    left:15vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: rgb(206, 206, 206);
}
@keyframes showText {
    0% {filter: blur(3px);}
    100% {filter: blur(0px);}
    }
.home h1{
    font-size: 8rem;
    animation:  showText ease 5s;
    -webkit-animation: showText ease 5s;
    -moz-animation: showText ease 5s;
    -o-animation: showText ease 5s;
    -ms-animation: showText ease 5s;
}
.dark2{
    width: 5rem;
}
.home h2,
.home h1{
    text-shadow: 1px 1px 7px rgb(141, 187, 230);
    animation:  showText ease 5s;
    -webkit-animation: showText ease 5s;
    -moz-animation: showText ease 5s;
    -o-animation: showText ease 5s;
    -ms-animation: showText ease 5s;
}
@media only screen and (max-width: 1100px) {
    .home{
        left:10vw;
    }
    .home h1{
        font-size: 6rem;
    }
  }
@media only screen and (max-width: 800px) {
    .home{
        left:5vw;
    }
    .home h1{
        font-size: 4rem;
    }
    .home h2{
        font-size: 1.5rem;

    }
  }
  @media only screen and (max-width: 500px) {
    .home{
        left:3vw;
    }
    .home h2{
        font-size: 1.2rem;

    }
  }